
<div class="container mt-5">
        <div class="row justify-content-center">
           <div class="col-12 col-md-8 col-lg-6">
               <div class="card">
                   <div class="card-header">
                       Reset Password
                   </div>
                   <div class="card-body">
                   <div class="btn btn-danger" *ngIf="!queAnswerMatch">Password Updated SuccessFully</div>
     
                       <form [formGroup]="resetPasswordForm" (submit)="onSignUpSubmit()" *ngIf="!submitStatus">
                           
                           <div class="form-group">
                               <label for="password"> New Password</label>
                               <input type="password" class="form-control" formControlName="password" name="password" placeholder="Enter Username" >
                               <span class="validation-error" *ngIf="password.touched && password.hasError('required')">Username cannot be Empty</span>
                      
                           </div>
                         
                           <div class="form-group">
                               <label for="confirmPassword">Confirm New Password</label>
                               <input type="password" formControlName="confirmPassword" class="form-control" name="confirmPassword" placeholder="Enter Security Que Answer">
                                <span class="validation-error" *ngIf="confirmPassword.touched && confirmPassword.hasError('required')">Answer cannot be empty</span>
                                <span class="validation-error" *ngIf="confirmPassword.touched && confirmPassword.hasError( 'nomatch') ">Password do not match</span>

                           </div>
                           <div class="form-group">
                                 <input type="submit" class="btn btn-dark" [disabled]="!resetPasswordForm.valid"  value="Submit">
                           </div>
                       </form>
                   </div>
               </div>
           </div>
        </div>
     </div>