<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4"></div>
        <div class="col-4 title text-center">Doctors List</div>
        <div class="col-4"></div>
    </div>
</div>



<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-6 col-lg-4 mt-5" *ngFor="let doctor of doctors">
        <div class="card">
            <img src="https://image.flaticon.com/icons/png/512/17/17797.png" height="200px" width="200px" class="center">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <b>
                            <h6>Name :</h6>
                        </b></div>

                    <div class="col-6 ">
                        {{doctor.firstname}} {{doctor.lastname}}
                    </div>
                    <div class="col-2 text-right">

                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <b>
                            <h6>Age :</h6>
                        </b></div>

                    <div class="col-4">
                        {{doctor.age}}
                    </div>
                    <div class="col-4 text-right"><button class="btn" (click)="allDetails()"><i class="material-icons">
                                arrow_drop_down
                            </i></button></div>
                </div>

                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 text-right"></div>
                </div>

                <div *ngIf="showDetails">
                    <div class="row">
                        <div class="col-4"><b>
                                <h6>Email :</h6>
                            </b></div>
                        <div class="col-8">{{doctor.email}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>
                                <h6>Conatct No :</h6>
                            </b></div>
                        <div class="col-8">{{doctor.contactNo}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>
                                <h6> Alt Conatct No :</h6>
                            </b></div>
                        <div class="col-8">{{doctor.altContactNo}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>
                                <h6>Address</h6>
                            </b></div>
                        <div class="col-8">{{doctor.address1}},{{doctor.address2}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8">{{doctor.city}},{{doctor.state}},{{doctor.zipcode}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>
                                <h6>Degree</h6>
                            </b></div>
                        <div class="col-8">{{doctor.degree}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>
                                <h6>Speciality</h6>
                            </b></div>
                        <div class="col-8">{{doctor.speciality}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>
                                <h6>Work Hours</h6>
                            </b></div>
                        <div class="col-8">{{doctor.workhours}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b>
                                <h6>Hospital Name</h6>
                            </b></div>
                        <div class="col-8">{{doctor.hospitalname}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><b><h6>Medicare Service Id</h6></b></div>
                        <div class="col-8">{{doctor.medicareServiceId}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <a [routerLink]="['/edit/doctor',doctor.id]" class="text_white"><button class="btn btn-primary"
                                [disabled]="!isEditable()">Edit</button></a>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-success" (click)="approve(doctor.id)" [disabled]="!isApprovable()">Approve</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-danger" (click)="disApprove(doctor.id)" [disabled]="!isApprovable()">Disapprove</button>
                    </div>
                </div>
                <div class="row" *ngIf="canBeBooked()">
                    <div class="col-12">
                        <a [routerLink]="['/bookAppointment',doctor.id]"><button class="btn btn-primary">Book Appointment</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>