<div class="container mt-5">
    <div class="card">
        <div class="card-header form-header header  d-flex justify-content-center">
            Patient List
        </div>

        <div class="alert alert-success" *ngIf="listEmpty">Patient List is Empty!!</div>

        <ul class="list-group" >
            <li class="list-group-item" *ngFor="let patient of patients">
                <div class="row">
                    <div class="col-1">{{patient.id}}</div>
                    <div class="col-7 text-center"><b><h5>{{patient.firstname}} {{patient.lastname}}</h5></b></div>
                    <div class="col-3" *ngIf="!isEditable()"></div>
                    <div class="col-1 " *ngIf="isEditable()">  <a [routerLink]="['/edit/patient',patient.id]" class="text_white"><button
                        class="btn btn-primary" [disabled]="!isEditable()" ><i class="material-icons"> edit</i></button></a></div> 
                        <div class="col-1" *ngIf="isEditable()"> <button class="btn btn-success" (click)="approve(patient.id)" [disabled]="!isApprovable()"><i class="material-icons">done</i></button></div>
                        <div class="col-1" *ngIf="isEditable()"> <button class="btn btn-danger" (click)="disApprove(patient.id)" [disabled]="!isApprovable()"><i class="material-icons">close</i></button></div>
                <div class="col-1 text-right">
                    <button class="btn" data-toggle="modal" data-target="#myModal" (click)="allDetailsNew(patient)"><i class="material-icons">
                            arrow_drop_down
                        </i></button>
                    </div>
                </div> 
        </li>
        </ul>


       
                   
    </div>
</div> 

<div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header form-header">
                    <h4 class="modal-title header  ">{{fetchedPatient.firstname}} {{fetchedPatient.lastname}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td><i class="material-icons">
            email
        </i></td>
                                <td>{{fetchedPatient.email}}</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">
            card_travel
        </i></td>
                                <td> {{fetchedPatient.id}}</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">
            today
        </i></td>
                                <td>{{fetchedPatient.age}}</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">
            account_box
        </i></td>
                                <td>{{fetchedPatient.gender}}</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">
            phone_android
        </i></td>
                                <td> {{fetchedPatient.contactNo}} / {{fetchedPatient.altContactNo}}</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons"> home </i></td>
                                <td>{{fetchedPatient.address1}},{{fetchedPatient.address2}},{{fetchedPatient.city}},{{fetchedPatient.state}},{{fetchedPatient.zipcode}}</td>
                            </tr>

                        </table>

                    </div>
     
                    <!-- Modal footer -->
                    <div class="modal-footer">

                      <div *ngIf="isEditable()">  
                        <a [routerLink]="['/edit/patient',fetchedPatient.id]" class="text_white"><button
        class="btn btn-primary" [disabled]="!isEditable()" data-dismiss="modal">Edit</button></a>
                        <button class="btn btn-success" (click)="approve(fetchedPatient.id)" [disabled]="!isApprovable()">Approve</button>
                        <button class="btn btn-danger" (click)="disApprove(fetchedPatient.id)" [disabled]="!isApprovable()">Disapprove</button>
                    </div>

                    </div>
                
            

            </div>
        </div>
    </div>
        