.text_red {
    color: red;
}

.title {
    font-size: 50px;
    background-color: red;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn-signup{
    color: black;
    background-color: white;
}