<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            {{agent.firstname}} {{agent.lastname}}
                        </div>
                        <div class="col-6 text-right" >
                               {{agent.age}} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>