<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a routerLink="menu" class="navbar-brand"><i class="material-icons dicon">
            enhanced_encryption</i>MediCare</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcontent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcontent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a routerLink="doctors" class="nav-link" *ngIf="isLoggedIn() && !isDoctor()">Doctors</a>
            </li>
            <li class="nav-item ">
                <a routerLink="patients" class="nav-link" *ngIf="isLoggedIn() && !isPatient() && !isAgent()">Patients</a>
            </li>
            <li class="nav-item ">
                <a routerLink="agents" class="nav-link" *ngIf="isLoggedIn() && !isAgent()">Agents</a>
            </li>
            <li class="nav-item">
                <a routerLink="services" class="nav-link" *ngIf="isLoggedIn()">Medicare Services</a>
            </li>
            <li class="nav-item">
                <a routerLink="login" class="nav-link" *ngIf="!isLoggedIn()">Log In</a>
            </li>
            <li class="nav-item">
                <a routerLink="signup" class="nav-link" *ngIf="!isLoggedIn()">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn()"><i class="material-icons">person</i>
                         {{getUser()}}
                </a>
            </li>
            <li class="nav-item">
                <a (click)="onSignOut()" class="nav-link" *ngIf="isLoggedIn()">Log Out</a>
            </li>
        </ul>
    </div>
</nav>